<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/ThickLineSilhouette.svg">
</head>
<body>
    {% include "header.njk" %}
    <main class="content">
        {{ content | safe }}
    </main>
</body>
</html>