---
layout: layout.html
---

<header class="display-header">
  <a href="/projects/" class="back-button">&larr; Back to Projects</a>
  <h1 class="display-title">{{ title }}</h1>
</header>
{% if themes %}
<div class="display-meta">
    <div class="display-tags">
      <span class="meta-label">Tags:</span>
      {% for tag in themes %}
        <a href="/projects/?theme={{ tag }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
</div>
{% endif %}
<div class="content-box nonhover">
  <article class="display-page">

    <section class="display-content">
      
      <div class="display-body">
        {{ content | split: '<div class="split">' | last | replace: '<img', '<img class="project-image"' | replace: '<a', '<a class="source" target="_blank"' }}
      </div>
    </section>
  </article>
  <div class="bottom-back">
    <a href="/projects/" class="back-button">&larr; Back to Projects</a>
  </div>
</div>
