---
layout: layout.html
---

<article class="display-page">
  <header class="display-header">
    <h1 class="display-title">{{ title }}</h1>
    {% if subtitle %}
      <h2 class="display-subtitle">{{ subtitle }}</h2>
    {% endif %}
  </header>

  <section class="display-content">
    {% if themes %}
    <div class="display-meta">
        <div class="display-tags">
          <span class="meta-label">Tags:</span>
          {% for tag in themes %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <div class="display-body">
      {{ content | split: '<div class="split">' | last }}
    </div>
  </section>
</article>
