---
title: School
layout: layout.html
---

<div class="hero-section">
  <div class="hero-content">
    <h1>Min Skolegang</h1>
  </div>
</div>

{% for schoolPost in collections.school %}
  <div class="display-card">
    <h2>{{ schoolPost.data.title }}</h2>
    {% if schoolPost.data.images %}
      <img src="{{ schoolPost.data.images[0] }}" alt="{{ schoolPost.data.title }}" class="display-image">
    {% endif %}
    <div class="display-intro hidden">
      {{ schoolPost.templateContent | split: '<div class="split">' | first }}
    </div>
    <div class="display-content hidden">
      {{ schoolPost.templateContent | split: '<div class="split">' | last }}
    </div>
  </div>
{% endfor %}
<script src="/assets/js/script.js"></script>
